@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,300;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    width: 90%;
    min-height: 100px;
    background-color: #262626;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.column {
    position: relative;
    width: 24%;
    height: 360px;
    float: left;
    overflow: hidden;
    padding: 5px;
}

.column .imgBox {
    position: relative;
    background-color: aqua;
}

.column .imgBox img {
    max-width: 100%;
    transition: 1s;
}

.column:hover .imgBox img {
    transform: scale(1.5);
}

.column .details {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: white;
    text-align: center;
    transform: scale(.5);
    visibility: hidden;
    transition: .5s;
}

.column:hover .details {
    transform: scale(1);
    visibility: visible;
}

.column .details .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    box-sizing: border-box;
}

.column .details .content h1 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #262626;
    text-transform: uppercase;
}

.column .details .content h1 span {
    font-size: 16px;
    color: #999;
}

.column .details .content h1:before {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 50px;
    height: 2px;
    background: #f00;
    left: 50%;
    transform: translateX(-50%);
}

.column .details .content ul {
    position: relative;
    padding: 0;
    width: 70%;
    margin: 30px auto 0;
    opacity: 0;
    transform: translateY(100px);
    transition: .5s;
}

.column:hover .details .content ul {
    opacity: 1;
    transform: translateY(0px);
    transition: .5s;
}

.column .details .content ul li {
    float: left;
    list-style: none;
    width: 25%;
    text-align: center;
}

.column .details .content ul li a {
    display: block;
    color: #262626;
    text-decoration: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #262626;
    transition: all .5s;
}

.column .details .content ul li a:hover {
    background-color: #f00;
    color: white;
    transition: all .5s;
}







